.comments-banner {
  background-color: #D90368;
  height: auto;
  text-align: center;
  align-items: center;
}

.todo-banner {
  background-color: #2E294E;
  height: auto;
  text-align: center;
  color: white;
}

.todo-card {
  background-color: yellow;
  color: black;
  margin: 15px;
  box-shadow: 1px 1px #888888;
}
