.card {
  background: linear-gradient(135deg,
                    rgba(0,0,0,.3) 0%,
                    rgba(0,0,0,.8) 50%),
    url('https://source.unsplash.com/random/250x250');
  background-size: cover;
  height: 250px;
  margin: 20px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p h3 {
    text-decoration: none;
  }
}

.card-contents {
  text-align: center;
}


.card:hover {
  text-decoration: none !important;
  color: #D90368;
  h5 {
    color: white !important;
  }

}

a:hover {
  text-decoration: none;
}
